<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>{% block title %}Godisbilen{% endblock title %}</title>

        
        <meta property="og:title" content="Godisbilen">
        <meta property="og:site_name" content="Godisbilen">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Hemleverans för godis, snacks och dryck, kväll och nattetid.">
        <meta property="og:image" content="../images/preview.png">
        <meta property="og:url" content="/">
        <meta name="twitter:card" content="../images/preview.png">
        <meta name="twitter:image:alt" content="Godisbilen förhandsvisning">

        <!-- Favicons -->
        <!-- Generics -->
        <link rel="icon" href="../images/favicon/favicon-32.png" sizes="32x32">
        <link rel="icon" href="../images/favicon/favicon-57.png" sizes="57x57">
        <link rel="icon" href="../images/favicon/favicon-76.png" sizes="76x76">
        <link rel="icon" href="../images/favicon/favicon-96.png" sizes="96x96">
        <link rel="icon" href="../images/favicon/favicon-128.png" sizes="128x128">
        <link rel="icon" href="../images/favicon/favicon-192.png" sizes="192x192">
        <link rel="icon" href="../images/favicon/favicon-228.png" sizes="228x228">

        <!-- Android -->
        <link rel="shortcut icon" href="../images/favicon/favicon-192.png" sizes="196x196">

        <!-- iOS -->
        <link rel="apple-touch-icon" href="../images/favicon/favicon-120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="../images/favicon/favicon-152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="../images/favicon/favicon-180.png" sizes="180x180">


        {% block css %}
        <link rel="stylesheet" href="../styles/main.scss">
        {% endblock css %}

        {% block fonts %}
        <link href="../fonts/Righteous-Regular.ttf" rel="stylesheet">
        {% endblock fonts %}
    </head>
    <body>
        {% block header %}
        {% include "./components/_header.njk" %}
        {% include "./components/_navigation.njk" %}
        {% endblock header %}
        <main id="main">
            {% block main %}
            {% endblock main %}
        </main>
        {% block footer %}
        {% include "./components/_footer.njk" %}
        {% endblock footer %}
        {% block javascript %}
            <script src="../scripts/navigation.js"></script>
        {% endblock javascript %}
    </body>
</html>