footer {
    background-color: var(--header-background-color);
    color: #e86ed0;
    width: 100%;

    >section {
        width: 100%;
        padding: 20px 0;
        margin: auto;
        text-align: center;
    }

    h3 {
        margin: 0;
        text-decoration: underline;
    }

    >#motto> {
        h3 {
            font-size: 30px;
            margin: 10px 0;
        }

        p {
            margin: 0;
            font-size: 20px;
        }
    }
}