#navigation {
    z-index: 1;
    position: fixed;
    top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
    right: calc(var(--nav-width) * -1);
    width: var(--nav-width);
    transition: right .3s ease-in-out;
    color: var(--nav-link-color);
    background-color: var(--header-background-color);
    -webkit-box-shadow: -1px 0 5px rgba(0, 0, 0, 0.397);
    -moz-box-shadow: -1px 0 5px rgba(0, 0, 0, 0.397);
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.397);

    &.is-active {
        right: 0;

        +main {
            width: calc(100% - var(--nav-width));
        }
    }

    >#links> {
        h3 {
            text-align: center;
            font-size: 30px;
        }

        ul {
            list-style-type: none;

            >li>a {
                font-size: 23px;
                color: #e86ed0;
                line-height: 50px;
            }
        }
    }
}


@media (max-width: 500px) {
    #navigation {
        &.is-active {
            width: 100%;
        }

        >#links>ul {
            padding: 0;

            >li {
                text-align: center;
            }
        }
    }
}