:root {
    /* Header */
    --header-background-color: #b1e8ed;
    --header-logo-color: #e86ed0;
    --header-height: 70px;

    /* Navigation */
    --nav-width: 300px;
    --nav-link-color: #e86ed0;

    /* Responsive form */
    --responsive-form-info-color: #e86ed0;
    --responsive-form-font-size: 18px;


    --main-font: 'Righteous', cursive;
}