@use './config.scss';
@use './components/header.scss';
@use './components/navigation.scss';
@use './components/footer.scss';

* {
    font-family: var(--main-font);
}

body {
    margin: 0;
    background-color: #f9f7f7;
}


/* Subheader */

#sub_header {
    width: calc(100% - 60px);
    text-align: center;
    background-color: #edb5f5;
    color: #fff;
    padding: 10px 30px;

    h3 {
        margin: 0;
        font-size: 40px;
    }

    p {
        margin: 0;
        font-size: 20px;

        >a {
            color: inherit;
        }
    }
}

/* -Subheader */

main {
    width: 100vw;
    margin-top: 70px;
    min-height: calc(100vh - 70px - 143px);

    /* 100vh - header - footer */
    transition: width .3s ease-in-out;
    position: relative;
}