<html>
    <head>
        <meta charset="utf8" />
        <title>Godisbilen giftcard</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
            rel="stylesheet"
        />
        <link href="{{css}}" rel="stylesheet" />
    </head>
    <body>
        <div class="page">
            <div class="giftcards_container front">
                {{#each @root.codes}}
                <div class="giftcard">
                    <h2 class="header">Presentkort</h2>
                    <img src="{{@root.logo}}" />
                    <p class="code">{{this}}</p>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="page">
            <div class="giftcards_container back">
                {{#each @root.codes}}
                <div class="giftcard back">
                    <ul>
                        <li>Presentkortet kan ej inbytas mot kontanter.</li>
                        <li>Borttappat kort ersätts ej.</li>
                        <li>Ångerrätt gäller inte för presentkort.</li>
                    </ul>
                    <div class="form">
                        <span>Giltig t.o.m:</span>
                        <span>Belopp:</span>
                        <hr>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </body>
</html>
