<footer>
    <section id="motto">
        <h3>Godisbilen.nu</h3>
        <p><q>Fixar godis när du behöver det!</q></p>
        <small>&copy; Copyright 2020, Godisbilen Staffanstorp AB</small>
    </section>
</footer>