<header>
    <a href="/" id="logo">
        <img src="../images/logo.svg" alt="Godisbilen logo" title="Startsida">
    </a>
    <button id="nav_btn" class="hamburger hamburger--slider" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</header>