<nav id="navigation" role="navigation">
    <section id="links">
        <h3>Snabblänkar</h3>
        <ul>
            <li><a href="/assortment">Vårt sortiment</a></li>
            <li><a href="/party">Kalas</a></li>
            <li><a href="/regions">Leveransområde</a></li>
            <li><a href="/tos">Allmänna villkor</a></li>
            <li><a href="/faq">Vanliga frågor</a></li>
            <li><a href="/contact">Kontakta oss</a></li>
            <li><a href="/about">Om oss</a></li>
        </ul>
    </section>
</nav>